In [1]:
import pandas as pd
from datetime import datetime, date, timedelta
from faker import Faker
from faker.providers import BaseProvider
from sqlalchemy import create_engine
import random

Importing spreadsheets created

In [2]:
amr_df = pd.read_excel("TrialDummy1.xlsx")
amr_df

,amrID,supplierID,year,assignedBy,assignedDate,destinationOfSample,submittedDate,amountAvailable,synthesisPotential,sourceID,...,solubility,stereoComments,smileStructure,mw,additionalMetadata,existingPatent,existingLiterature,solvent,sampleType,comments
0,AMR00001,AAP_1,2048,Ruby Johnson,08/10/2053,Rhodes Bioassay/Rhodes MS,01/10/2053,30.2,NaN,AAP_1,...,NaN,NaN,NaN,NaN,N,N,Y,DMSO,NaN,NaN
1,AMR00002,MOZ42-1RJ,2042,Ruby Johnson,06/01/2051,Membrane Disruption assay,30/12/2050,26.6,NaN,MOZ42-1,...,NaN,NaN,NaN,NaN,Y,N,https//doi.org/choice3,DMSO,NaN,NaN
2,AMR00003,TIC2041-1RJ,2041,Joshua Keener,31/01/2050,Rhodes MS/NMR,24/01/2050,9.3,NaN,TIC2041-1,...,NaN,NaN,NaN,NaN,Y,N,https//doi.org/choice6,DMSO,NaN,NaN
3,AMR00004,MOZ42-2JR,2042,Ruby Johnson,16/10/2050,Membrane Disruption assay,09/10/2050,31.7,NaN,MOZ42-2,...,NaN,NaN,NaN,NaN,N,N,https//doi.org/choice1,DMSO,NaN,NaN
4,AMR00005,TIC2041-2JR,2041,Joshua Keener,21/12/2054,Rhodes MS/NMR,14/12/2054,66.1,NaN,TIC2041-2,...,NaN,NaN,NaN,NaN,Y,N,N,DMSO,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159995,AMR159996,PC-TIC2041-434RH-01aba,2041,Ruby Johnson,19/11/2052,Rhodes Bioassay/Rhodes MS,12/11/2052,59.2,Y,TIC2041-434RH-01ab,...,DMSO,InterestPC7,both,6.7,Y,Y,https://doi.org/comp7,MeOH,HPLC Fraction,Used compound R in fractionation
159996,AMR159997,PC-TIC2041-10200RH-01aba,2041,Joshua Keener,23/06/2054,Rhodes MS/NMR,16/06/2054,28.6,N,TIC2041-10200RH-01ab,...,"aq.MeOH, MeOH",InterestPC2,lose,163.2,N,Y,https://doi.org/comp4,DCM/MeOH,Fraction,Used compound R in fractionation
159997,AMR159998,PC-AMRU4631B-01aaa,2045,Ruby Johnson,13/01/2055,Rhodes LC/MS + NMR & Bioassay,06/01/2055,23.9,Y,AMRU4631B-01aa,...,DCM: MeOH 2:1,InterestPC8,gas,60.2,Y,Y,https://doi.org/comp1,MeOH,HPLC Fraction,10:90 setting
159998,AMR159999,PC-AMRU2153C-01baa,2045,Joshua Keener,28/01/2053,Rhodes MS,21/01/2053,22.9,Y,AMRU2153C-01ba,...,"aq.MeOH, MeOH",InterestPC8,sound,310.4,N,Y,https://doi.org/comp5,DCM:MeOH 2:1,SPE fraction,NaN
159999,AMR160000,PC-AMRU4376A-01aaa,2047,Joshua Keener,12/02/2052,Rhodes Bioassay/Rhodes MS,05/02/2052,87.8,N,AMRU4376A-01aa,...,DCM: MeOH 2:1,InterestPC4,team,335.1,N,N,N,MeOH,SPE fraction,Combination setting

In [3]:
extract_df = amr_df[amr_df['pure'] == "N"].reset_index()
pure_df = amr_df[amr_df['pure'] == "Y"].reset_index()
extract_df

,index,amrID,supplierID,year,assignedBy,assignedDate,destinationOfSample,submittedDate,amountAvailable,synthesisPotential,...,solubility,stereoComments,smileStructure,mw,additionalMetadata,existingPatent,existingLiterature,solvent,sampleType,comments
0,0,AMR00001,AAP_1,2048,Ruby Johnson,08/10/2053,Rhodes Bioassay/Rhodes MS,01/10/2053,30.2,NaN,...,NaN,NaN,NaN,NaN,N,N,Y,DMSO,NaN,NaN
1,1,AMR00002,MOZ42-1RJ,2042,Ruby Johnson,06/01/2051,Membrane Disruption assay,30/12/2050,26.6,NaN,...,NaN,NaN,NaN,NaN,Y,N,https//doi.org/choice3,DMSO,NaN,NaN
2,2,AMR00003,TIC2041-1RJ,2041,Joshua Keener,31/01/2050,Rhodes MS/NMR,24/01/2050,9.3,NaN,...,NaN,NaN,NaN,NaN,Y,N,https//doi.org/choice6,DMSO,NaN,NaN
3,3,AMR00004,MOZ42-2JR,2042,Ruby Johnson,16/10/2050,Membrane Disruption assay,09/10/2050,31.7,NaN,...,NaN,NaN,NaN,NaN,N,N,https//doi.org/choice1,DMSO,NaN,NaN
4,4,AMR00005,TIC2041-2JR,2041,Joshua Keener,21/12/2054,Rhodes MS/NMR,14/12/2054,66.1,NaN,...,NaN,NaN,NaN,NaN,Y,N,N,DMSO,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,AMR99996,MOZ42-11029RJ,2042,Joshua Keener,04/06/2053,"Rhodes Bioassay, PK assay",28/05/2053,31.0,NaN,...,NaN,NaN,NaN,NaN,Y,N,https//doi.org/choice3,Methanol,NaN,NaN
99996,99996,AMR99997,TIC2041-11086JR,2041,Joshua Keener,29/01/2052,Rhodes MS/NMR,22/01/2052,58.4,NaN,...,NaN,NaN,NaN,NaN,Y,N,N,Methanol,NaN,NaN
99997,99997,AMR99998,AAP_11175,2048,Ruby Johnson,07/08/2051,Rhodes MS,31/07/2051,54.7,NaN,...,NaN,NaN,NaN,NaN,Y,N,https//doi.org/choice5,DMSO,NaN,NaN
99998,99998,AMR99999,SAF43-11251RH,2043,Joshua Keener,07/02/2051,Rhodes Bioassay/Rhodes MS,31/01/2051,8.3,NaN,...,NaN,NaN,NaN,NaN,Y,N,https//doi.org/choice1,DMSO,NaN,NaN
99999,99999,AMR100000,MIAP_11058,2044,Joshua Keener,25/07/2053,Rhodes LC/MS + NMR & Bioassay,18/07/2053,87.4,NaN,...,NaN,NaN,NaN,NaN,N,N,https//doi.org/choice2,Methanol,NaN,NaN

In [4]:
mnp_df = pd.read_excel("TrialDummy2.xlsx")
mnp_df

,mnpID,supplierID,amountAvailable,year,assignedBy,assignedDate,destinationOfSample,submittedDate,sampleType,concentration,solvent,project,sourceID,species,permitNo,researchGroup,submittedBy,level,comments
0,MNP00001,MOZ42-9322RH-01,96.6,2042,Joshua Keener,08/11/2054,RU Bioassay,01/11/2054,HPLC Fraction,50.0,DCM/MeOH,Marine,MOZ42-9322RH,six,RES2042,Roodt,Priscilla Evans,1,Used compound Y in fractionation
1,MNP00002,MOZ42-4072RH-01,44.1,2042,Joshua Keener,28/11/2052,CD Experiment,21/11/2052,Fraction,0.1,DCM:MeOH 2:1,Marine,MOZ42-4072RH,decide,RES2042,Roodt,Amanda Bowker,1,NaN
2,MNP00003,SAF43-11100RH-01,0.7,2043,Joshua Keener,13/11/2054,RU LC/MS,06/11/2054,HPLC Fraction,1.0,DCM:MeOH 2:1,Marine,SAF43-11100RH,economy,RES2043,Smith,Ruby Johnson,1,NaN
3,MNP00004,6-56*#1671R3-01,91.1,2046,Ruby Johnson,25/11/2052,CD Experiment,18/11/2052,SPE fraction,0.1,MeOH,Marine,6-56*#1671R3,statement,RES2046,Smith,Priscilla Evans,1,Used compound X in fractionation
4,MNP00005,AMRU542C-01,93.9,2047,Joshua Keener,27/11/2050,CD Experiment,20/11/2050,HPLC Fraction,0.5,DCM:MeOH 2:1,Microbial,AMRU542C,common,RES2047,Smith,Priscilla Evans,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259995,MNP259996,AMRU4335B-01aaa,71.4,2045,Joshua Keener,09/06/2053,CD Experiment,02/06/2053,HPLC Fraction,50.0,MeOH,Microbial,AMRU4335B-01aa,perform,RES2045,Roodt,Priscilla Evans,4,Combination setting
259996,MNP259997,SAF43-4656JR-01aac,7.9,2043,Joshua Keener,08/07/2052,RU Bioassay,01/07/2052,Fraction from flash,0.1,DCM:MeOH 2:1,Marine,SAF43-4656JR-01aa,body,RES2043,Smith,Priscilla Evans,4,NaN
259997,MNP259998,MOZ42-1272RJ-01abc,72.9,2042,Ruby Johnson,20/10/2050,Rhodes MS,13/10/2050,SPE fraction,20.0,DCM/MeOH,Marine,MOZ42-1272RJ-01ab,east,RES2042,Smith,Ruby Johnson,4,Used compound R in fractionation
259998,MNP259999,MOZ42-6381RH-01baa,89.0,2042,Joshua Keener,03/09/2051,RU Bioassay,27/08/2051,HPLC Fraction,50.0,DCM:MeOH 2:1,Marine,MOZ42-6381RH-01ba,describe,RES2042,Roodt,Amanda Bowker,4,Used compound R in fractionation
259999,MNP260000,2-16*#474R2-02bab,21.3,2046,Joshua Keener,07/06/2053,Rhodes MS,31/05/2053,SPE fraction,0.1,DCM/MeOH,Marine,2-16*#474R2-02ba,minute,RES2046,Smith,Ruby Johnson,4,NaN

In [5]:
bioassay_df = pd.read_excel("bioassayDummy.xlsx")
bioassay_df

,processID,responsiblePI,researcher,dateReceived,molecularID,diluent,concentration,amount,ecoliV,ecoliSD,...,saureusBioV,saureusBioSD,pareuBioV,pareuBioSD,cytotoxV,cytotoxSD,pkActivity,dxrActivity,confirm_dxrActivity,hppkActivity
0,AMR00001,Preston,Ruby Johnson,08/10/2053,suddenly,Dried down,0.10,8.8,90.9,7.8,...,48.1,7.1,17.8,2.9,68.2,1.3,NaN,103.4,5.3,71.1
1,AMR00006,Smith,Julia Reed,26/04/2050,know,Dried down,50.00,6.7,7.7,1.4,...,37.7,7.4,66.8,4.8,87.6,4.4,NaN,33.9,54.7,96.7
2,AMR00007,Wellington,Robert Hobson,25/09/2050,top,Dried down,0.10,8.7,76.1,2.3,...,44.7,8.9,48.6,7.8,39.6,3.9,NaN,47.3,100.3,83.4
3,AMR00008,Smith,Julia Reed,09/11/2050,offer,MeOH,1.00,4.3,13.2,7.8,...,52.8,2.3,35.9,8.4,14.1,5.0,1.7,55.1,73.7,0.8
4,AMR00009,Wellington,Robert Hobson,13/01/2053,though,MeOH,0.50,6.0,5.3,1.9,...,83.9,8.6,82.3,8.6,2.7,1.1,NaN,77.8,65.7,39.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144073,MNP259981,Roodt,Ruby Johnson,12/12/2050,style,Dried down,0.10,9.9,4.8,7.0,...,75.8,2.0,20.5,0.9,7.2,6.8,NaN,47.4,97.8,103.8
144074,MNP259987,Roodt,Ruby Johnson,08/10/2054,summer,MeOH,0.25,3.0,108.6,6.7,...,36.2,4.5,42.4,2.9,32.4,6.8,NaN,33.1,22.5,13.8
144075,MNP259991,Smith,Amanda Bowker,05/07/2052,score,MeOH,0.50,10.0,4.8,9.3,...,38.2,0.1,30.2,4.7,1.1,0.7,NaN,64.9,52.0,17.2
144076,MNP259997,Smith,Priscilla Evans,08/07/2052,body,Dried down,0.25,2.5,22.2,1.5,...,3.8,5.1,21.8,3.1,108.0,8.8,NaN,88.1,14.1,30.0
144077,MNP259999,Roodt,Amanda Bowker,03/09/2051,describe,MeOH,1.00,0.3,2.3,0.9,...,26.3,0.9,101.7,9.8,57.5,1.8,NaN,60.6,87.9,76.0

In [6]:
collection_df = pd.read_excel('collection.xlsx')

# Separate out all collectors
collectors = collection_df['collectedBy'].unique().tolist()
separateCollectors = []
for collector in collectors:
    separateCollectors.append(collector.split(" and "))
separateCollectors = [item for sublist in separateCollectors for item in sublist]
finalCollectors = []
for collector in separateCollectors:
    finalCollectors.append(collector.split("; "))
finalCollectors = [item for sublist in finalCollectors for item in sublist]
finalCollectors = list(dict.fromkeys(finalCollectors))
finalCollectors

['Trevor Andrews', 'Clive Morrison', 'Mandy Peterson']

### person, role and person_role tables

In [7]:
# Person_role
assigners = pd.concat([amr_df['assignedBy'], mnp_df['assignedBy']]).unique().tolist()
assignerDict = {'full_name':assigners, 'role':'Assigner'}
bioassays = bioassay_df['researcher'].unique().tolist()
bioassayDict = {'full_name':bioassays, 'role':'Bioassay Scientific Analyst'}
extractors = extract_df['submittedBy'].unique().tolist()
extractDict = {'full_name':extractors, 'role':'Extractor'}
fractionators = pd.concat([pure_df['submittedBy'], mnp_df['submittedBy']]).unique().tolist()
fractionDict = {'full_name':fractionators, 'role':'Fractionator'}
identifiers = collection_df['identifiedBy'].unique().tolist()
identifyDict = {'full_name':identifiers, 'role':'Identifier'}
collectorDict = {'full_name':finalCollectors, 'role':'Collector'}
person_role_df = pd.concat([pd.DataFrame(assignerDict), pd.DataFrame(bioassayDict), pd.DataFrame(extractDict), pd.DataFrame(fractionDict), pd.DataFrame(identifyDict), pd.DataFrame(collectorDict)], ignore_index=True)
print(assigners)
print(bioassays)
print(extractors)
print(fractionators)
print(person_role_df)

['Ruby Johnson', 'Joshua Keener']
['Ruby Johnson', 'Julia Reed', 'Robert Hobson', 'Amanda Bowker', 'Priscilla Evans']
['Ruby Johnson', 'Julia Reed', 'Robert Hobson']
['Ruby Johnson', 'Amanda Bowker', 'Priscilla Evans']
          full_name                         role
0      Ruby Johnson                     Assigner
1     Joshua Keener                     Assigner
2      Ruby Johnson  Bioassay Scientific Analyst
3        Julia Reed  Bioassay Scientific Analyst
4     Robert Hobson  Bioassay Scientific Analyst
5     Amanda Bowker  Bioassay Scientific Analyst
6   Priscilla Evans  Bioassay Scientific Analyst
7      Ruby Johnson                    Extractor
8        Julia Reed                    Extractor
9     Robert Hobson                    Extractor
10     Ruby Johnson                 Fractionator
11    Amanda Bowker                 Fractionator
12  Priscilla Evans                 Fractionator
13   Clive Morrison                   Identifier
14     Harry Warner                   Identifier
15   Trevor Andrews                    Collector
16   Clive Morrison                    Collector
17   Mandy Peterson                    Collector

In [8]:
# Person table
collector_df = pd.DataFrame(collectorDict)
people = pd.concat([amr_df['assignedBy'], amr_df['submittedBy'], mnp_df['assignedBy'], mnp_df['submittedBy'], collection_df['identifiedBy'], collector_df['full_name']]).unique().tolist()
person_df = pd.DataFrame(people, columns=['full_name'])
person_df.insert(0, 'person_id', range(1, 1 + len(person_df)))
person_df

   person_id        full_name
0          1     Ruby Johnson
1          2    Joshua Keener
2          3       Julia Reed
3          4    Robert Hobson
4          5    Amanda Bowker
5          6  Priscilla Evans
6          7   Clive Morrison
7          8     Harry Warner
8          9   Trevor Andrews
9         10   Mandy Peterson

In [9]:
# Role table
roles = person_role_df['role'].unique().tolist()
role_df = pd.DataFrame(roles, columns=['role'])
role_df.insert(0, 'id', range(1, 1 + len(role_df)))
role_df

   id                         role
0   1                     Assigner
1   2  Bioassay Scientific Analyst
2   3                    Extractor
3   4                 Fractionator
4   5                   Identifier
5   6                    Collector

In [10]:
# Person role table
person_role_df.insert(2, 'person_id', 1)
person_role_df.insert(3, 'id', 1)
roleIDs = role_df['id'].tolist()
roles = role_df['role'].tolist()
personIDs = person_df['person_id'].tolist()
names = person_df['full_name'].tolist()
for rID, r in zip(roleIDs, roles):
    person_role_df.loc[person_role_df.role == r, 'id'] = rID

for pID, p in zip(personIDs, names):
    person_role_df.loc[person_role_df.full_name == p, 'person_id'] = pID

person_role_df.drop(['full_name', 'role'], axis=1, inplace=True)
person_role_df.rename(columns={'person_id':'user_id', 'id':'role_id'}, inplace=True)

person_role_df

    user_id  role_id
0         1        1
1         2        1
2         1        2
3         3        2
4         4        2
5         5        2
6         6        2
7         1        3
8         3        3
9         4        3
10        1        4
11        5        4
12        6        4
13        7        5
14        8        5
15        9        6
16        7        6
17       10        6

In [11]:
# Person table:
# person_id, full_name, email_address, database_user, username, password
# Making email addresses based on person name
nameSeries = person_df['full_name']
emailList = []
initialList = []
passwordList = []
for index, value in nameSeries.items():
    email = ""
    initial = ""
    password = ""
    allNames = value.split(" ")
    for name in allNames:
        password = password + name[0:2].lower()
        initial = initial + name.lower()
        email = email + name[0].lower()
    email = email + "@ru.ac.za"
    password = password + "12345$"
    emailList.append(email)
    initialList.append(initial)
    passwordList.append(password)

emailSeries = pd.Series(emailList)
person_df.insert(2, 'email_address', emailSeries)
userSeries = pd.Series(initialList)
passwordSeries = pd.Series(passwordList)

# Saying only those who are assigners have current access to database
# Only those will have usernames and passwords
person_df.insert(3, 'database_user', "N")
person_df.loc[person_role_df['role_id'] == 1, 'database_user'] = "Y"
person_df.insert(4, 'username', userSeries)
person_df.loc[person_df['database_user'] == "N", 'username'] = None
person_df.insert(5, 'password', passwordSeries)
person_df.loc[person_df['database_user'] == "N", 'password'] = None
person_df

,person_id,full_name,email_address,database_user,username,password
0,1,Ruby Johnson,rj@ru.ac.za,Y,rubyjohnson,rujo12345$
1,2,Joshua Keener,jk@ru.ac.za,Y,joshuakeener,joke12345$
2,3,Julia Reed,jr@ru.ac.za,N,None,None
3,4,Robert Hobson,rh@ru.ac.za,N,None,None
4,5,Amanda Bowker,ab@ru.ac.za,N,None,None
5,6,Priscilla Evans,pe@ru.ac.za,N,None,None
6,7,Clive Morrison,cm@ru.ac.za,N,None,None
7,8,Harry Warner,hw@ru.ac.za,N,None,None
8,9,Trevor Andrews,ta@ru.ac.za,N,None,None
9,10,Mandy Peterson,mp@ru.ac.za,N,None,None

### Research Group table

In [12]:
# Research group that the samples belong to
group = pd.concat([amr_df['researchGroup'], mnp_df['researchGroup'], bioassay_df['responsiblePI']]).unique().tolist()
group_df = pd.DataFrame(group, columns=['group_name'])
group_df.insert(0, 'group_id',  range(1, 1 + len(group_df)))
group_df

   group_id  group_name
0         1     Preston
1         2       Smith
2         3  Wellington
3         4       Roodt
4         5    Ackerman
5         6        Leer
6         7      Howard

### Extract table

In [13]:
# Need supplierID, submittedDate, amountAvailable, ms, nmr, researchGroup, submittedBy (as submitterID), existingLiterature, sourceID, sourceType, solvent
extract = extract_df[["supplierID", "submittedDate", "amountAvailable", "ms", "nmr", "researchGroup", "submittedBy", "existingLiterature", "sourceID", "sourceType", "solvent"]]
extract.rename(columns={'supplierID':'extract_id', 'submittedDate':'date_sample_submitted', 'amountAvailable':'amount_available', 'researchGroup':'research_group', 'sourceID':'source_id', 'sourceType':'source_type', 'solvent':'solvent_extraction'}, inplace=True)

# Turn submittedBy to submitterID
extract.insert(6, 'submitter_id', 1)
personIDs = person_df['person_id'].tolist()
names = person_df['full_name'].tolist()

for pID, p in zip(personIDs, names):
    extract.loc[extract.submittedBy == p, 'submitter_id'] = pID


# Make existing Literature into two columns - Y or N, and any hyperlinks in second
extract.insert(9, 'existing_literature', 'Y')
extract.insert(10, 'literature_link', extract['existingLiterature'])
extract.loc[extract['existingLiterature'] == 'N', 'existing_literature'] = 'N'

# Replace research_group with research_group_id
extract.insert(6, 'researchgroup_id', 1)
groupIDs = group_df['group_id'].tolist()
groupnames = group_df['group_name'].tolist()

for gID, g in zip(groupIDs, groupnames):
    extract.loc[extract.research_group == g, 'researchgroup_id'] = gID

extract.drop(['submittedBy'], axis=1, inplace=True)
extract.drop(['existingLiterature'], axis=1, inplace=True)
extract.drop(['research_group'], axis=1, inplace=True)
# Convert Y and N to True and False
extract = extract.replace({'ms':{'Y':True, 'N':False}, 'nmr':{'Y':True, 'N':False}, 'existing_literature':{'Y':True, 'N':False}, 'literature_link':{'Y':None, 'N':None}})
# Convert date_submitted from string to date type
extract['date_sample_submitted'] = pd.to_datetime(extract['date_sample_submitted'])
extract

C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\2916505010.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  extract.rename(columns={'supplierID':'extract_id', 'submittedDate':'date_sample_submitted', 'amountAvailable':'amount_available', 'researchGroup':'research_group', 'sourceID':'source_id', 'sourceType':'source_type', 'solvent':'solvent_extraction'}, inplace=True)
C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\2916505010.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  extract.drop(['submittedBy'], axis=1, inplace=True)
C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\2916505010.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  extract.drop(['existingLiterature'], axis=1, inplace=True)
C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\2916505010.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  extract.drop(['research_group'], axis=1, inplace=True)
C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\2916505010.py:33: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  extract['date_sample_submitted'] = pd.to_datetime(extract['date_sample_submitted'])

,extract_id,date_sample_submitted,amount_available,ms,nmr,researchgroup_id,submitter_id,existing_literature,literature_link,source_id,source_type,solvent_extraction
0,AAP_1,2053-01-10,30.2,True,True,1,1,True,None,AAP_1,Bacterial,DMSO
1,MOZ42-1RJ,2050-12-30,26.6,True,True,2,1,True,https//doi.org/choice3,MOZ42-1,MNP,DMSO
2,TIC2041-1RJ,2050-01-24,9.3,False,False,3,1,True,https//doi.org/choice6,TIC2041-1,MNP,DMSO
3,MOZ42-2JR,2050-09-10,31.7,False,True,4,3,True,https//doi.org/choice1,MOZ42-2,MNP,DMSO
4,TIC2041-2JR,2054-12-14,66.1,True,True,3,3,False,None,TIC2041-2,MNP,DMSO
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,MOZ42-11029RJ,2053-05-28,31.0,False,False,4,1,True,https//doi.org/choice3,MOZ42-11029,MNP,Methanol
99996,TIC2041-11086JR,2052-01-22,58.4,False,False,2,3,False,None,TIC2041-11086,MNP,Methanol
99997,AAP_11175,2051-07-31,54.7,True,True,3,4,True,https//doi.org/choice5,AAP_11175,Bacterial,DMSO
99998,SAF43-11251RH,2051-01-31,8.3,True,False,4,4,True,https//doi.org/choice1,SAF43-11251,MNP,DMSO
99999,MIAP_11058,2053-07-18,87.4,False,False,3,1,True,https//doi.org/choice2,MIAP_11058,Marion Islands,Methanol

### Fraction table

In [14]:
# Need supplierID, submittedDate, amountAvailable, sampleType, concentration, project, sourceID, researchGroup, submittedBy, solvent, level, comments
fraction = mnp_df[["supplierID", "submittedDate", "amountAvailable", "sampleType", "concentration", "project", "sourceID", "researchGroup", "submittedBy", "solvent", "level", "comments"]]
fraction.rename(columns={'supplierID':'fraction_id', 'submittedDate':'date_sample_submitted', 'amountAvailable':'amount_available', 'sampleType':'sample_type', 'researchGroup':'research_group', 'sourceID':'source_id', 'solvent':'solvent_used'}, inplace=True)

# Turn submittedBy to submitterID
fraction.insert(8, 'submitter_id', 1)
personIDs = person_df['person_id'].tolist()
names = person_df['full_name'].tolist()

for pID, p in zip(personIDs, names):
    fraction.loc[fraction.submittedBy == p, 'submitter_id'] = pID

# Replace research_group with research_group_id
fraction.insert(8, 'researchgroup_id', 1)
groupIDs = group_df['group_id'].tolist()
groupnames = group_df['group_name'].tolist()

for gID, g in zip(groupIDs, groupnames):
    fraction.loc[fraction.research_group == g, 'researchgroup_id'] = gID

fraction.drop(['submittedBy'], axis=1, inplace=True)
fraction.drop(['research_group'], axis=1, inplace=True)
fraction['date_sample_submitted'] = pd.to_datetime(fraction['date_sample_submitted'])
fraction

C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\218957866.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fraction.rename(columns={'supplierID':'fraction_id', 'submittedDate':'date_sample_submitted', 'amountAvailable':'amount_available', 'sampleType':'sample_type', 'researchGroup':'research_group', 'sourceID':'source_id', 'solvent':'solvent_used'}, inplace=True)
C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\218957866.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fraction.drop(['submittedBy'], axis=1, inplace=True)
C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\218957866.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fraction.drop(['research_group'], axis=1, inplace=True)
C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\218957866.py:23: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  fraction['date_sample_submitted'] = pd.to_datetime(fraction['date_sample_submitted'])
C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\218957866.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fraction['date_sample_submitted'] = pd.to_datetime(fraction['date_sample_submitted'])

,fraction_id,date_sample_submitted,amount_available,sample_type,concentration,project,source_id,researchgroup_id,submitter_id,solvent_used,level,comments
0,MOZ42-9322RH-01,2054-01-11,96.6,HPLC Fraction,50.0,Marine,MOZ42-9322RH,4,6,DCM/MeOH,1,Used compound Y in fractionation
1,MOZ42-4072RH-01,2052-11-21,44.1,Fraction,0.1,Marine,MOZ42-4072RH,4,5,DCM:MeOH 2:1,1,NaN
2,SAF43-11100RH-01,2054-06-11,0.7,HPLC Fraction,1.0,Marine,SAF43-11100RH,2,1,DCM:MeOH 2:1,1,NaN
3,6-56*#1671R3-01,2052-11-18,91.1,SPE fraction,0.1,Marine,6-56*#1671R3,2,6,MeOH,1,Used compound X in fractionation
4,AMRU542C-01,2050-11-20,93.9,HPLC Fraction,0.5,Microbial,AMRU542C,2,6,DCM:MeOH 2:1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
259995,AMRU4335B-01aaa,2053-02-06,71.4,HPLC Fraction,50.0,Microbial,AMRU4335B-01aa,4,6,MeOH,4,Combination setting
259996,SAF43-4656JR-01aac,2052-01-07,7.9,Fraction from flash,0.1,Marine,SAF43-4656JR-01aa,2,6,DCM:MeOH 2:1,4,NaN
259997,MOZ42-1272RJ-01abc,2050-10-13,72.9,SPE fraction,20.0,Marine,MOZ42-1272RJ-01ab,2,1,DCM/MeOH,4,Used compound R in fractionation
259998,MOZ42-6381RH-01baa,2051-08-27,89.0,HPLC Fraction,50.0,Marine,MOZ42-6381RH-01ba,4,5,DCM:MeOH 2:1,4,Used compound R in fractionation
259999,2-16*#474R2-02bab,2053-05-31,21.3,SPE fraction,0.1,Marine,2-16*#474R2-02ba,2,1,DCM/MeOH,4,NaN

### Derivedpurecomp table

In [15]:
# Need: supplierID, submittedDate, amountAvailable, synthesisPotential, sourceID, ms, nmr, submittedBy, solubility, stereoComments, smileStructure, mw, additionalMetadata, existingPatent, existingLiterature, solvent
# Decide if need fractionMethod
derivedpurecomp = pure_df[["supplierID", "submittedDate", "amountAvailable", "synthesisPotential", "sourceID", "ms", "nmr", "researchGroup", "submittedBy", "solubility", "stereoComments", "smileStructure", "mw", "additionalMetadata", "existingPatent", "existingLiterature", "solvent", "sampleType", "comments"]]
derivedpurecomp.rename(columns={'supplierID':'derivedpurecomp_id', 'submittedDate':'date_sample_submitted', 'amountAvailable':'amount_available', 'synthesisPotential':'synthesis_potential', 'existingPatent':'existing_patent', 'sourceID':'source_id', 'sourceType':'source_type', 'solvent':'solvent_used', 'stereoComments':'stereo_comments', 'smileStructure':'smile_structure', 'additionalMetadata':'additional_metadata', 'sampleType':'fraction_method'}, inplace=True)
# Turn submittedBy to submitterID
derivedpurecomp.insert(8, 'submitter_id', 1)
personIDs = person_df['person_id'].tolist()
names = person_df['full_name'].tolist()

for pID, p in zip(personIDs, names):
    derivedpurecomp.loc[derivedpurecomp.submittedBy == p, 'submitter_id'] = pID

# Replace research_group with research_group_id
derivedpurecomp.insert(8, 'researchgroup_id', 1)
groupIDs = group_df['group_id'].tolist()
groupnames = group_df['group_name'].tolist()

for gID, g in zip(groupIDs, groupnames):
    derivedpurecomp.loc[derivedpurecomp.researchGroup == g, 'researchgroup_id'] = gID

# Make existing Literature into two columns - Y or N, and any hyperlinks in second
derivedpurecomp.insert(18, 'existing_literature', 'Y')
derivedpurecomp.insert(19, 'literature_link', derivedpurecomp['existingLiterature'])
derivedpurecomp.loc[derivedpurecomp['existingLiterature'] == 'N', 'existing_literature'] = 'N'

derivedpurecomp.drop(['submittedBy'], axis=1, inplace=True)
derivedpurecomp.drop(['researchGroup'], axis=1, inplace=True)
derivedpurecomp.drop(['existingLiterature'], axis=1, inplace=True)
# Turn yes and no into boolean for table (True or False)
derivedpurecomp = derivedpurecomp.replace({'ms':{'Y':True, 'N':False}, 'nmr':{'Y':True, 'N':False}, 'existing_literature':{'Y':True, 'N':False}, 'literature_link':{'Y':None, 'N':None}, 'existing_patent':{'Y':True, 'N':False}, 'additional_metadata':{'Y':True, 'N':False}, 'existing_literature':{'Y':True, 'N':False}, 'synthesis_potential':{'Y':True, 'N':False}})
# Date must be converted to datetime format for the database
derivedpurecomp['date_sample_submitted'] = pd.to_datetime(derivedpurecomp['date_sample_submitted'])

derivedpurecomp.head()

C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\2042327622.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  derivedpurecomp.rename(columns={'supplierID':'derivedpurecomp_id', 'submittedDate':'date_sample_submitted', 'amountAvailable':'amount_available', 'synthesisPotential':'synthesis_potential', 'existingPatent':'existing_patent', 'sourceID':'source_id', 'sourceType':'source_type', 'solvent':'solvent_used', 'stereoComments':'stereo_comments', 'smileStructure':'smile_structure', 'additionalMetadata':'additional_metadata', 'sampleType':'fraction_method'}, inplace=True)
C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\2042327622.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  derivedpurecomp.drop(['submittedBy'], axis=1, inplace=True)
C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\2042327622.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  derivedpurecomp.drop(['researchGroup'], axis=1, inplace=True)
C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\2042327622.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  derivedpurecomp.drop(['existingLiterature'], axis=1, inplace=True)
C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\2042327622.py:32: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  derivedpurecomp['date_sample_submitted'] = pd.to_datetime(derivedpurecomp['date_sample_submitted'])

,derivedpurecomp_id,date_sample_submitted,amount_available,synthesis_potential,source_id,ms,nmr,researchgroup_id,submitter_id,solubility,stereo_comments,smile_structure,mw,additional_metadata,existing_patent,existing_literature,literature_link,solvent_used,fraction_method,comments
0,PC-TIC2041-1065RH-02aa,2054-03-08,98.2,True,TIC2041-1065RH-02a,True,False,2,1,DCM: MeOH 2:1,InterestPC6,former,78.1,False,True,True,https://doi.org/comp7,DCM:MeOH 2:1,Fraction from flash,70:30 setting
1,PC-SAF43-258RJ-01aa,2051-09-08,42.0,False,SAF43-258RJ-01a,False,False,5,5,"aq.MeOH, MeOH",InterestPC2,fish,284.5,True,True,True,None,DCM:MeOH 2:1,SPE fraction,NaN
2,PC-SAF43-2536JR-02ba,2050-05-14,92.2,True,SAF43-2536JR-02b,True,True,2,6,"aq.MeOH, MeOH",InterestPC1,Mr,190.5,False,True,True,https://doi.org/comp2,DCM/MeOH,Fraction from flash,Used compound F in fractionation
3,PC-TIC2041-4160JR-02ab,2053-06-17,30.0,False,TIC2041-4160JR-02a,False,True,5,1,DMSO,InterestPC8,five,308.4,True,True,True,https://doi.org/comp7,MeOH,Fraction from flash,NaN
4,PC-AMRU3724C-01aa,2054-10-13,12.6,False,AMRU3724C-01a,False,False,6,6,DCM: MeOH 2:1,InterestPC3,crime,346.5,False,True,True,https://doi.org/comp6,DCM:MeOH 2:1,Fraction,NaN

### Process table

In [16]:
# Need from extract_df, fraction and pure_df
# processID (AMRID or MNPID), supplierID, assignedBy, assignedDate, destination, sample_level (extract, fraction, pure comp)
processExtract = extract_df[["amrID", "supplierID", "assignedBy", "assignedDate", "destinationOfSample"]]
processExtract.insert(5, 'sample_level', "Extract")
processExtract.rename(columns={'amrID':'process_id'}, inplace=True)
processFraction = mnp_df[["mnpID", "supplierID", "assignedBy", "assignedDate", "destinationOfSample"]]
processFraction.insert(5, 'sample_level', "Fraction")
processFraction.rename(columns={'mnpID':'process_id'}, inplace=True)
processPure = pure_df[["amrID", "supplierID", "assignedBy", "assignedDate", "destinationOfSample"]]
processPure.insert(5, 'sample_level', "PureCompound")
processPure.rename(columns={'amrID':'process_id'}, inplace=True)
process = pd.concat([processExtract, processFraction, processPure], ignore_index=True)
process.rename(columns={'supplierID':'supplier_id', 'assignedDate':'date_assigned', 'destinationOfSample':'destination_of_sample'}, inplace=True)
process.insert(2, 'assigner_id', 1)
personIDs = person_df['person_id'].tolist()
names = person_df['full_name'].tolist()

for pID, p in zip(personIDs, names):
    process.loc[process.assignedBy == p, 'assigner_id'] = pID

process.drop(['assignedBy'], axis=1, inplace=True)
# Date must be converted to datetime format for the database
process['date_assigned'] = pd.to_datetime(process['date_assigned'])
process

C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\299531478.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  processExtract.rename(columns={'amrID':'process_id'}, inplace=True)
C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\299531478.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  processFraction.rename(columns={'mnpID':'process_id'}, inplace=True)
C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\299531478.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  processPure.rename(columns={'amrID':'process_id'}, inplace=True)
C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\299531478.py:23: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  process['date_assigned'] = pd.to_datetime(process['date_assigned'])

,process_id,supplier_id,assigner_id,date_assigned,destination_of_sample,sample_level
0,AMR00001,AAP_1,1,2053-08-10,Rhodes Bioassay/Rhodes MS,Extract
1,AMR00002,MOZ42-1RJ,1,2051-06-01,Membrane Disruption assay,Extract
2,AMR00003,TIC2041-1RJ,2,2050-01-31,Rhodes MS/NMR,Extract
3,AMR00004,MOZ42-2JR,1,2050-10-16,Membrane Disruption assay,Extract
4,AMR00005,TIC2041-2JR,2,2054-12-21,Rhodes MS/NMR,Extract
...,...,...,...,...,...,...
419995,AMR159996,PC-TIC2041-434RH-01aba,1,2052-11-19,Rhodes Bioassay/Rhodes MS,PureCompound
419996,AMR159997,PC-TIC2041-10200RH-01aba,2,2054-06-23,Rhodes MS/NMR,PureCompound
419997,AMR159998,PC-AMRU4631B-01aaa,1,2055-01-13,Rhodes LC/MS + NMR & Bioassay,PureCompound
419998,AMR159999,PC-AMRU2153C-01baa,2,2053-01-28,Rhodes MS,PureCompound
419999,AMR160000,PC-AMRU4376A-01aaa,2,2052-12-02,Rhodes Bioassay/Rhodes MS,PureCompound

### Mass spec raw table

In [17]:
# Find where destination of sample is MS, but not LC/MS or LC-MS
ms_records = process[process.destination_of_sample.str.contains('MS', regex=False)]
ms_records = ms_records.drop(ms_records[ms_records.destination_of_sample.str.contains('LC/MS', regex=False)].index)
ms_records = ms_records.drop(ms_records[ms_records.destination_of_sample.str.contains('LC-MS', regex=False)].index)
ms_records.drop(['supplier_id', 'assigner_id', 'destination_of_sample', 'sample_level'], axis=1, inplace=True)

# Now make mass spec records for each of these
# massspec_id will be autocreated (incrementing by 1), process_id, date_requested will be same as date_assigned, cancelled all false, date_submitted will all be None, link_processed_spec all None
ms_records.insert(2, 'cancelled', False)
# ms_records.insert(3, 'link_processed_spec', None)
# ms_records.insert(4, 'date_submitted', None)
ms_records.rename(columns={'date_assigned':'date_requested'}, inplace=True)
# Date must be converted to datetime format for the database
ms_records['date_requested'] = pd.to_datetime(ms_records['date_requested'])
ms_records

       process_id date_requested  cancelled
0        AMR00001     2053-08-10      False
2        AMR00003     2050-01-31      False
4        AMR00005     2054-12-21      False
5        AMR00006     2050-04-26      False
8        AMR00009     2053-01-13      False
...           ...            ...        ...
419994  AMR159995     2053-04-11      False
419995  AMR159996     2052-11-19      False
419996  AMR159997     2054-06-23      False
419998  AMR159999     2053-01-28      False
419999  AMR160000     2052-12-02      False

[120183 rows x 3 columns]

In [18]:
# Get 80% of these records and make mass spec info as if they were already uploaded
massProcessed = ms_records.sample(frac=0.8).reset_index(drop=True)

#Then create fake link
fake = Faker()
Faker.seed(1234)
random.seed(1234)

class Provider(BaseProvider):
    def link_processed_spec(self):
        return "/ms/" + fake.word()

# Add the Provider to our faker object
fake.add_provider(Provider)

# Go up by one for AMR ID
# Supplier ID - based on date of collection, so must be same or earlier year than submittedDate
#               some TIC, some SAF, Some strains (e.g. S 20 20), MIAP_155, HMF-1, MBA_F406_PDM
# Date assigned - do a week after submittedDate
# Source ID - TIC number, MIAP etc - based on Supplier ID (start with this, then make Supplier ID)
# Source type - based on source ID (microbial vs sponge vs stromatolite)
# Permit - RES and year before or same as source ID

def create_ms_data(fake, no_of_rows):
    columns = ['link_processed_spec']
    data =  {column: [getattr(fake, column)() for _ in range(no_of_rows)] for column in columns}
    df = pd.DataFrame(data=data)
    df = df[columns]

    return df

original_df = create_ms_data(fake, len(massProcessed))
totalms = pd.concat([massProcessed, original_df], axis=1)
# Make date submitted 2 weeks after date requested
totalms.insert(4, 'date_submitted', totalms['date_requested'])
# Date submitted - do 3 weeks after previous assignedDate
totalms['date_submitted'] = totalms['date_submitted'] + timedelta(days=14)

newms = ms_records.merge(totalms, on=['process_id', 'date_requested', 'cancelled'], how='left')
newms

       process_id date_requested  cancelled link_processed_spec date_submitted
0        AMR00001     2053-08-10      False        /ms/audience     2053-08-24
1        AMR00003     2050-01-31      False            /ms/last     2050-02-14
2        AMR00005     2054-12-21      False                 NaN            NaT
3        AMR00006     2050-04-26      False                 NaN            NaT
4        AMR00009     2053-01-13      False           /ms/hotel     2053-01-27
...           ...            ...        ...                 ...            ...
120178  AMR159995     2053-04-11      False         /ms/medical     2053-04-25
120179  AMR159996     2052-11-19      False         /ms/contain     2052-12-03
120180  AMR159997     2054-06-23      False       /ms/treatment     2054-07-07
120181  AMR159999     2053-01-28      False         /ms/western     2053-02-11
120182  AMR160000     2052-12-02      False       /ms/religious     2052-12-16

[120183 rows x 5 columns]

### NMR table

In [19]:
# Find where destination of sample is NMR
nmr = process[process.destination_of_sample.str.contains('NMR', regex=False)]
nmr_records = nmr.drop(['supplier_id', 'assigner_id', 'destination_of_sample', 'sample_level'], axis=1)

# Now make mass spec records for each of these
# massspec_id will be autocreated (incrementing by 1), process_id, date_requested will be same as date_assigned, cancelled all false, date_submitted will all be None, link_processed_spec all None
nmr_records.insert(2, 'cancelled', False)
# nmr_records.insert(3, 'link_folder', None)
# nmr_records.insert(4, 'date_submitted', None)
nmr_records.rename(columns={'date_assigned':'date_requested'}, inplace=True)
# Date must be converted to datetime format for the database
nmr_records['date_requested'] = pd.to_datetime(nmr_records['date_requested'])
nmr_records

       process_id date_requested  cancelled
2        AMR00003     2050-01-31      False
4        AMR00005     2054-12-21      False
11       AMR00012     2050-04-13      False
12       AMR00013     2050-02-26      False
16       AMR00017     2051-04-14      False
...           ...            ...        ...
419984  AMR159985     2050-07-12      False
419987  AMR159988     2052-11-12      False
419993  AMR159994     2054-01-01      False
419996  AMR159997     2054-06-23      False
419997  AMR159998     2055-01-13      False

[97442 rows x 3 columns]

In [20]:
# Get 80% of these records and make mass spec info as if they were already uploaded
nmrProcessed = nmr_records.sample(frac=0.8).reset_index(drop=True)

#Then create fake link
fake = Faker()
Faker.seed(1234)
random.seed(1234)

class Provider(BaseProvider):
    def link_folder(self):
        return "/nmr/" + fake.word()

# Add the Provider to our faker object
fake.add_provider(Provider)

# Go up by one for AMR ID
# Supplier ID - based on date of collection, so must be same or earlier year than submittedDate
#               some TIC, some SAF, Some strains (e.g. S 20 20), MIAP_155, HMF-1, MBA_F406_PDM
# Date assigned - do a week after submittedDate
# Source ID - TIC number, MIAP etc - based on Supplier ID (start with this, then make Supplier ID)
# Source type - based on source ID (microbial vs sponge vs stromatolite)
# Permit - RES and year before or same as source ID

def create_nmr_data(fake, no_of_rows):
    columns = ['link_folder']
    data =  {column: [getattr(fake, column)() for _ in range(no_of_rows)] for column in columns}
    df = pd.DataFrame(data=data)
    df = df[columns]

    return df

original_df = create_nmr_data(fake, len(massProcessed))
totalnmr = pd.concat([nmrProcessed, original_df], axis=1)
# Make date submitted 2 weeks after date requested
totalnmr.insert(4, 'date_submitted', totalnmr['date_requested'])
# Date submitted - do 3 weeks after previous assignedDate
totalnmr['date_submitted'] = totalnmr['date_submitted'] + timedelta(days=14)

newnmr = nmr_records.merge(totalnmr, on=['process_id', 'date_requested', 'cancelled'], how='left')
newnmr

      process_id date_requested cancelled    link_folder date_submitted
0       AMR00003     2050-01-31     False      /nmr/will     2050-02-14
1       AMR00005     2054-12-21     False    /nmr/better     2055-01-04
2       AMR00012     2050-04-13     False     /nmr/ready     2050-04-27
3       AMR00013     2050-02-26     False  /nmr/thousand     2050-03-12
4       AMR00017     2051-04-14     False  /nmr/evidence     2051-04-28
...          ...            ...       ...            ...            ...
97437  AMR159985     2050-07-12     False       /nmr/eat     2050-07-26
97438  AMR159988     2052-11-12     False      /nmr/also     2052-11-26
97439  AMR159994     2054-01-01     False   /nmr/through     2054-01-15
97440  AMR159997     2054-06-23     False   /nmr/perform     2054-07-07
97441  AMR159998     2055-01-13     False            NaN            NaT

[97442 rows x 5 columns]

### LC-MS table

In [21]:
lcms = process[process.destination_of_sample.str.contains("LC-MS", regex=False)].append(process[process.destination_of_sample.str.contains("LC/MS", regex=False)])
lcms_records = lcms.drop(['supplier_id', 'assigner_id', 'destination_of_sample', 'sample_level'], axis=1)

# Now make mass spec records for each of these
# massspec_id will be autocreated (incrementing by 1), process_id, date_requested will be same as date_assigned, cancelled all false, date_submitted will all be None, link_processed_spec all None
lcms_records.insert(2, 'cancelled', False)
lcms_records.rename(columns={'date_assigned':'date_requested'}, inplace=True)
# Date must be converted to datetime format for the database
lcms_records['date_requested'] = pd.to_datetime(lcms_records['date_requested'])
lcms_records

C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\656750662.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  lcms = process[process.destination_of_sample.str.contains("LC-MS", regex=False)].append(process[process.destination_of_sample.str.contains("LC/MS", regex=False)])

       process_id date_requested  cancelled
100006   MNP00007     2051-01-08      False
100010   MNP00011     2051-06-24      False
100011   MNP00012     2051-10-08      False
100013   MNP00014     2054-06-28      False
100016   MNP00017     2054-01-01      False
...           ...            ...        ...
419983  AMR159984     2054-06-19      False
419984  AMR159985     2050-07-12      False
419987  AMR159988     2052-11-12      False
419993  AMR159994     2054-01-01      False
419997  AMR159998     2055-01-13      False

[126944 rows x 3 columns]

In [22]:
proc_df = process[['process_id', 'destination_of_sample']]
df_all = proc_df[proc_df.destination_of_sample.str.contains("Bioassay", regex=False)].append(proc_df[proc_df.destination_of_sample.str.contains("PK", regex=False)])
# Get only pk
pks = proc_df[proc_df.destination_of_sample.str.contains("PK", regex=False)]
# Find values where indexes are same, and put True in pk_requested
pkProcess = df_all.merge(pks.drop_duplicates(), on=['process_id', "destination_of_sample"], how='left', indicator=True)
pkProcess['_merge'] = (pkProcess['_merge'] == 'both')
pkProcess.rename(columns={'_merge':'pk_requested'}, inplace=True)
bioassay_df.insert(24, 'pk_requested', True)
bioassay_df.loc[bioassay_df['pkActivity'].isnull(), 'pk_requested'] = False
bioassay_df.rename(columns={'processID':'process_id', 'dateReceived':'date_received', 'molecularID':'molecular_id', 'ecoliV':'ecoli_v', 'ecoliSD':'ecoli_sd', 'saureusV':'saureus_v', 'saureusSD':'saureus_sd', 'pareuV':'pareu_v', 'pareuSD':'pareu_sd', 'saureusBioV':'saureus_bio_v', 'saureusBioSD':'saureus_bio_sd',
                'pareuBioV':'pareu_bio_v', 'pareuBioSD':'pareu_bio_sd', 'cytotoxV':'cytotox_v', 'cytotoxSD':'cytotox_sd', 'pkActivity':'pk_activity', 'dxrActivity':'dxr_activity', 'confirm_dxrActivity':'confirm_dxr_activity', 'hppkActivity':'hppk_activity'}, inplace=True)
bioassay_df

C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\2607523635.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = proc_df[proc_df.destination_of_sample.str.contains("Bioassay", regex=False)].append(proc_df[proc_df.destination_of_sample.str.contains("PK", regex=False)])

,process_id,responsiblePI,researcher,date_received,molecular_id,diluent,concentration,amount,ecoli_v,ecoli_sd,...,saureus_bio_sd,pareu_bio_v,pareu_bio_sd,cytotox_v,cytotox_sd,pk_activity,dxr_activity,confirm_dxr_activity,hppk_activity,pk_requested
0,AMR00001,Preston,Ruby Johnson,08/10/2053,suddenly,Dried down,0.10,8.8,90.9,7.8,...,7.1,17.8,2.9,68.2,1.3,NaN,103.4,5.3,71.1,False
1,AMR00006,Smith,Julia Reed,26/04/2050,know,Dried down,50.00,6.7,7.7,1.4,...,7.4,66.8,4.8,87.6,4.4,NaN,33.9,54.7,96.7,False
2,AMR00007,Wellington,Robert Hobson,25/09/2050,top,Dried down,0.10,8.7,76.1,2.3,...,8.9,48.6,7.8,39.6,3.9,NaN,47.3,100.3,83.4,False
3,AMR00008,Smith,Julia Reed,09/11/2050,offer,MeOH,1.00,4.3,13.2,7.8,...,2.3,35.9,8.4,14.1,5.0,1.7,55.1,73.7,0.8,True
4,AMR00009,Wellington,Robert Hobson,13/01/2053,though,MeOH,0.50,6.0,5.3,1.9,...,8.6,82.3,8.6,2.7,1.1,NaN,77.8,65.7,39.3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144073,MNP259981,Roodt,Ruby Johnson,12/12/2050,style,Dried down,0.10,9.9,4.8,7.0,...,2.0,20.5,0.9,7.2,6.8,NaN,47.4,97.8,103.8,False
144074,MNP259987,Roodt,Ruby Johnson,08/10/2054,summer,MeOH,0.25,3.0,108.6,6.7,...,4.5,42.4,2.9,32.4,6.8,NaN,33.1,22.5,13.8,False
144075,MNP259991,Smith,Amanda Bowker,05/07/2052,score,MeOH,0.50,10.0,4.8,9.3,...,0.1,30.2,4.7,1.1,0.7,NaN,64.9,52.0,17.2,False
144076,MNP259997,Smith,Priscilla Evans,08/07/2052,body,Dried down,0.25,2.5,22.2,1.5,...,5.1,21.8,3.1,108.0,8.8,NaN,88.1,14.1,30.0,False
144077,MNP259999,Roodt,Amanda Bowker,03/09/2051,describe,MeOH,1.00,0.3,2.3,0.9,...,0.9,101.7,9.8,57.5,1.8,NaN,60.6,87.9,76.0,False

In [23]:
# Replace research_group with research_group_id
bioassay_df.insert(2, 'responsible_pi_id', 1)
groupIDs = group_df['group_id'].tolist()
groupnames = group_df['group_name'].tolist()

for gID, g in zip(groupIDs, groupnames):
    bioassay_df.loc[bioassay_df.responsiblePI == g, 'responsible_pi_id'] = gID

# Turn submittedBy to submitterID
bioassay_df.insert(4, 'researcher_id', 1)
personIDs = person_df['person_id'].tolist()
names = person_df['full_name'].tolist()

for pID, p in zip(personIDs, names):
    bioassay_df.loc[bioassay_df.researcher == p, 'researcher_id'] = pID

bioassay_df.drop(['responsiblePI', 'researcher'], axis=1, inplace=True)
# Date must be converted to datetime format for the database
bioassay_df['date_received'] = pd.to_datetime(bioassay_df['date_received'])

bioassay_df

C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\3263007454.py:19: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  bioassay_df['date_received'] = pd.to_datetime(bioassay_df['date_received'])

,process_id,responsible_pi_id,researcher_id,date_received,molecular_id,diluent,concentration,amount,ecoli_v,ecoli_sd,...,saureus_bio_sd,pareu_bio_v,pareu_bio_sd,cytotox_v,cytotox_sd,pk_activity,dxr_activity,confirm_dxr_activity,hppk_activity,pk_requested
0,AMR00001,1,1,2053-08-10,suddenly,Dried down,0.10,8.8,90.9,7.8,...,7.1,17.8,2.9,68.2,1.3,NaN,103.4,5.3,71.1,False
1,AMR00006,2,3,2050-04-26,know,Dried down,50.00,6.7,7.7,1.4,...,7.4,66.8,4.8,87.6,4.4,NaN,33.9,54.7,96.7,False
2,AMR00007,3,4,2050-09-25,top,Dried down,0.10,8.7,76.1,2.3,...,8.9,48.6,7.8,39.6,3.9,NaN,47.3,100.3,83.4,False
3,AMR00008,2,3,2050-09-11,offer,MeOH,1.00,4.3,13.2,7.8,...,2.3,35.9,8.4,14.1,5.0,1.7,55.1,73.7,0.8,True
4,AMR00009,3,4,2053-01-13,though,MeOH,0.50,6.0,5.3,1.9,...,8.6,82.3,8.6,2.7,1.1,NaN,77.8,65.7,39.3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144073,MNP259981,4,1,2050-12-12,style,Dried down,0.10,9.9,4.8,7.0,...,2.0,20.5,0.9,7.2,6.8,NaN,47.4,97.8,103.8,False
144074,MNP259987,4,1,2054-08-10,summer,MeOH,0.25,3.0,108.6,6.7,...,4.5,42.4,2.9,32.4,6.8,NaN,33.1,22.5,13.8,False
144075,MNP259991,2,5,2052-05-07,score,MeOH,0.50,10.0,4.8,9.3,...,0.1,30.2,4.7,1.1,0.7,NaN,64.9,52.0,17.2,False
144076,MNP259997,2,6,2052-08-07,body,Dried down,0.25,2.5,22.2,1.5,...,5.1,21.8,3.1,108.0,8.8,NaN,88.1,14.1,30.0,False
144077,MNP259999,4,5,2051-03-09,describe,MeOH,1.00,0.3,2.3,0.9,...,0.9,101.7,9.8,57.5,1.8,NaN,60.6,87.9,76.0,False

### HPLC Table

### Countries Table

In [24]:
countries_df = pd.read_csv('data_csv.txt')
countries_df.rename(columns={'Name':'country_name', 'Code':'country_id'}, inplace=True)
countries_df

          country_name country_id
0          Afghanistan         AF
1        Åland Islands         AX
2              Albania         AL
3              Algeria         DZ
4       American Samoa         AS
..                 ...        ...
244  Wallis and Futuna         WF
245     Western Sahara         EH
246              Yemen         YE
247             Zambia         ZM
248           Zimbabwe         ZW

[249 rows x 2 columns]

### Regions Table

In [25]:
regions_df = pd.read_excel('regions.xlsx')
regions_df.rename(columns={'Region ID':'region_id', 'Region Name':'region_name', 'Country ID':'country_id'}, inplace=True)
regions_df

   region_id          region_name country_id
0       MZ-P         Cabo Delgado         MZ
1       MZ-G                 Gaza         MZ
2       MZ-I            Inhambane         MZ
3       MZ-B               Manica         MZ
4       MZ-L               Maputo         MZ
5       MZ-N              Nampula         MZ
6       MZ-A               Niassa         MZ
7       MZ-S               Sofala         MZ
8       MZ-T                 Tete         MZ
9       MZ-Q             Zambézia         MZ
10     ZA-EC         Eastern Cape         ZA
11     ZA-FS           Free State         ZA
12       NaN                  NaN         ZA
13     ZA-GP              Gauteng         ZA
14    ZA-KZN        Kwazulu-Natal         ZA
15     ZA-LP              Limpopo         ZA
16     ZA-MP           Mpumalanga         ZA
17     ZA-NW           North-West         ZA
18     ZA-NC        Northern Cape         ZA
19     ZA-WC         Western Cape         ZA
20     SC-01        Anse aux Pins         SC
21     SC-02         Anse Boileau         SC
22     SC-03          Anse Etoile         SC
23     SC-05          Anse Royale         SC
24     SC-04               Au Cap         SC
25     SC-06          Baie Lazare         SC
26     SC-07     Baie Sainte Anne         SC
27     SC-08          Beau Vallon         SC
28     SC-09              Bel Air         SC
29     SC-10            Bel Ombre         SC
30     SC-11              Cascade         SC
31     SC-16        English River         SC
32     SC-12               Glacis         SC
33     SC-13      Grand Anse Mahe         SC
34     SC-14   Grand Anse Praslin         SC
35     SC-26   Ile Perseverance I         SC
36     SC-27  Ile Perseverance II         SC
37     SC-15             La Digue         SC
38     SC-24         Les Mamelles         SC
39     SC-17          Mont Buxton         SC
40     SC-18          Mont Fleuri         SC
41     SC-19            Plaisance         SC
42     SC-20         Pointe Larue         SC
43     SC-21           Port Glaud         SC
44     SC-25         Roche Caiman         SC
45     SC-22          Saint Louis         SC
46     SC-23             Takamaka         SC

### City table

In [26]:
locations_df = pd.read_excel('location.xlsx')
locations_df.rename(columns={'region':'region_name', 'city':'city_name', 'localArea':'localarea_name', 'station':'station_name', 'depthMin':'depth_min', 'depthMax':'depth_max'}, inplace=True)

In [27]:
location = pd.merge(regions_df[['region_id', 'region_name']], locations_df, on=['region_name'])
location

,region_id,region_name,country,city_name,localarea_name,station_name,latitude,longitude,depth_min,depth_max
0,MZ-G,Gaza,Mozambique,Really,Still lead,Bit its,-33.4402,3.32940,12,23
1,MZ-G,Gaza,Mozambique,Really,Different phone,Them enough,-56.7752,-78.47259,4,14
2,MZ-G,Gaza,Mozambique,Really,Still lead,Life hand,-34.1102,2.60760,10,15
3,MZ-G,Gaza,Mozambique,Really,Different phone,Politics majority,-56.8909,-78.72570,6,14
4,MZ-G,Gaza,Mozambique,Really,Still lead,Bit its,-33.3883,3.42460,10,15
...,...,...,...,...,...,...,...,...,...,...
33361,SC-09,Bel Air,Seychelles,Include,Hot sound,Develop public,13.9136,71.58080,10,15
33362,SC-09,Bel Air,Seychelles,Include,American trade,Do rule,72.7755,-129.35330,10,25
33363,SC-09,Bel Air,Seychelles,Include,Hot sound,Girl study,13.9299,72.47976,3,18
33364,SC-09,Bel Air,Seychelles,Include,American trade,Shake son,73.4614,-128.86145,0,13
33365,SC-09,Bel Air,Seychelles,Include,Hot sound,Develop public,13.8967,71.52690,9,22

In [28]:
city_df = location[['region_id', 'city_name']]
city_df.drop_duplicates(inplace=True, ignore_index=True)
city_df.insert(0, 'city_id', range(1, len(city_df) + 1))
city_df

C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\1098435287.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_df.drop_duplicates(inplace=True, ignore_index=True)

   city_id region_id city_name
0        1      MZ-G    Really
1        2     ZA-EC      Race
2        3     SC-09   Include

### Localarea table

In [29]:
location = pd.merge(city_df[['city_id', 'city_name']], locations_df, on=['city_name'])
location

,city_id,city_name,country,region_name,localarea_name,station_name,latitude,longitude,depth_min,depth_max
0,1,Really,Mozambique,Gaza,Still lead,Bit its,-33.4402,3.32940,12,23
1,1,Really,Mozambique,Gaza,Different phone,Them enough,-56.7752,-78.47259,4,14
2,1,Really,Mozambique,Gaza,Still lead,Life hand,-34.1102,2.60760,10,15
3,1,Really,Mozambique,Gaza,Different phone,Politics majority,-56.8909,-78.72570,6,14
4,1,Really,Mozambique,Gaza,Still lead,Bit its,-33.3883,3.42460,10,15
...,...,...,...,...,...,...,...,...,...,...
33361,3,Include,Seychelles,Bel Air,Hot sound,Develop public,13.9136,71.58080,10,15
33362,3,Include,Seychelles,Bel Air,American trade,Do rule,72.7755,-129.35330,10,25
33363,3,Include,Seychelles,Bel Air,Hot sound,Girl study,13.9299,72.47976,3,18
33364,3,Include,Seychelles,Bel Air,American trade,Shake son,73.4614,-128.86145,0,13
33365,3,Include,Seychelles,Bel Air,Hot sound,Develop public,13.8967,71.52690,9,22

In [30]:
localarea_df = location[['city_id', 'localarea_name']]
localarea_df.drop_duplicates(inplace=True, ignore_index=True)
localarea_df.insert(0, 'localarea_id', range(1, len(localarea_df) + 1))
localarea_df

C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\3933648646.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  localarea_df.drop_duplicates(inplace=True, ignore_index=True)

   localarea_id  city_id   localarea_name
0             1        1       Still lead
1             2        1  Different phone
2             3        2        When risk
3             4        2   Language north
4             5        3        Hot sound
5             6        3   American trade

### Station table

In [31]:
location = pd.merge(localarea_df[['localarea_id', 'localarea_name']], locations_df, on=['localarea_name'])
location

,localarea_id,localarea_name,country,region_name,city_name,station_name,latitude,longitude,depth_min,depth_max
0,1,Still lead,Mozambique,Gaza,Really,Bit its,-33.4402,3.32940,12,23
1,1,Still lead,Mozambique,Gaza,Really,Life hand,-34.1102,2.60760,10,15
2,1,Still lead,Mozambique,Gaza,Really,Bit its,-33.3883,3.42460,10,15
3,1,Still lead,Mozambique,Gaza,Really,Life hand,-34.0952,2.62160,3,12
4,1,Still lead,Mozambique,Gaza,Really,Bit its,-33.4402,3.32940,12,23
...,...,...,...,...,...,...,...,...,...,...
33361,6,American trade,Seychelles,Bel Air,Include,Shake son,73.4614,-128.86145,0,13
33362,6,American trade,Seychelles,Bel Air,Include,Do rule,72.7324,-129.36810,12,17
33363,6,American trade,Seychelles,Bel Air,Include,Shake son,73.5412,-128.79600,11,19
33364,6,American trade,Seychelles,Bel Air,Include,Do rule,72.7755,-129.35330,10,25
33365,6,American trade,Seychelles,Bel Air,Include,Shake son,73.4614,-128.86145,0,13

In [32]:
station_df = location[['localarea_id', 'station_name']]
station_df.drop_duplicates(inplace=True, ignore_index=True)
station_df.insert(0, 'station_id', range(1, len(station_df) + 1))
station_df

C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\2520341363.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  station_df.drop_duplicates(inplace=True, ignore_index=True)

    station_id  localarea_id       station_name
0            1             1            Bit its
1            2             1          Life hand
2            3             2        Them enough
3            4             2  Politics majority
4            5             3    Thousand person
5            6             3      Church second
6            7             4       Many include
7            8             4          Happy set
8            9             5         Girl study
9           10             5     Develop public
10          11             6          Shake son
11          12             6            Do rule

### Site table

In [33]:
location = pd.merge(station_df[['station_id', 'station_name']], locations_df, on=['station_name'])
location

,station_id,station_name,country,region_name,city_name,localarea_name,latitude,longitude,depth_min,depth_max
0,1,Bit its,Mozambique,Gaza,Really,Still lead,-33.4402,3.3294,12,23
1,1,Bit its,Mozambique,Gaza,Really,Still lead,-33.3883,3.4246,10,15
2,1,Bit its,Mozambique,Gaza,Really,Still lead,-33.4402,3.3294,12,23
3,1,Bit its,Mozambique,Gaza,Really,Still lead,-33.3883,3.4246,10,15
4,1,Bit its,Mozambique,Gaza,Really,Still lead,-33.4402,3.3294,12,23
...,...,...,...,...,...,...,...,...,...,...
33361,12,Do rule,Seychelles,Bel Air,Include,American trade,72.7755,-129.3533,10,25
33362,12,Do rule,Seychelles,Bel Air,Include,American trade,72.7324,-129.3681,12,17
33363,12,Do rule,Seychelles,Bel Air,Include,American trade,72.7755,-129.3533,10,25
33364,12,Do rule,Seychelles,Bel Air,Include,American trade,72.7324,-129.3681,12,17
33365,12,Do rule,Seychelles,Bel Air,Include,American trade,72.7755,-129.3533,10,25

In [34]:
site_df = location[['station_id', 'latitude', 'longitude', 'depth_min', 'depth_max']]
site_df.drop_duplicates(inplace=True, ignore_index=True)
site_df.insert(0, 'site_id', range(1, len(site_df) + 1))
site_df

C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\697768879.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  site_df.drop_duplicates(inplace=True, ignore_index=True)

    site_id  station_id  latitude  longitude  depth_min  depth_max
0         1           1  -33.4402    3.32940         12         23
1         2           1  -33.3883    3.42460         10         15
2         3           2  -34.1102    2.60760         10         15
3         4           2  -34.0952    2.62160          3         12
4         5           3  -56.7752  -78.47259          4         14
5         6           3  -56.7285  -78.40270          0         11
6         7           4  -56.8909  -78.72570          6         14
7         8           4  -56.8013  -78.62950         11         17
8         9           5   83.9616  -21.33626         11         18
9        10           5   83.9633  -21.23760         15         22
10       11           6   83.0223  -21.91850         15         28
11       12           6   83.0288  -21.86440          2         14
12       13           7  -88.6515  147.95135          0          9
13       14           7  -88.6051  147.96040         14         19
14       15           8  -89.3231  147.86740          3          7
15       16           8  -89.2652  147.89440          2         16
16       17           9   13.9299   72.47976          3         18
17       18           9   13.9312   72.49340          9         15
18       19          10   13.8967   71.52690          9         22
19       20          10   13.9136   71.58080         10         15
20       21          11   73.4614 -128.86145          0         13
21       22          11   73.5412 -128.79600         11         19
22       23          12   72.7324 -129.36810         12         17
23       24          12   72.7755 -129.35330         10         25

### Collection table

In [35]:
collection_df.rename(columns={'depthMin':'depth_min', 'depthMax':'depth_max'}, inplace=True)
collection_df

,sourceID,otherIDs,collectedDate,permitNo,country,region,city,localArea,station,latitude,...,Class,Subclass,Superorder,Order,Suborder,Family,Subfamily,Genus,Subgenus,Species
0,TIC2041-1,NaN,30/10/2041,RES2041,South Africa,Eastern Cape,Race,When risk,Thousand person,83.9616,...,Ascidiacea,NaN,Enterogona,Aplousobranchia,NaN,Pseudodistomidae,NaN,Pseudodistoma,NaN,sp 015 RSA SPN roseum
1,TIC2041-2,NaN,21/06/2041,RES2041,South Africa,Eastern Cape,Race,Language north,Many include,-88.6515,...,Demospongiae,NaN,NaN,Poecilosclerida,Latrunculina,Latrunculiidae,NaN,Cyclacanthia,NaN,bellae
2,TIC2041-3,NaN,15/02/2041,RES2041,South Africa,Eastern Cape,Race,When risk,Church second,83.0223,...,Demospongiae,NaN,NaN,Poecilosclerida,Latrunculina,Latrunculiidae,NaN,Tsitsikamma,NaN,sp 004 RSA nguni
3,TIC2041-4,NaN,03/01/2041,RES2041,South Africa,Eastern Cape,Race,Language north,Happy set,-89.3231,...,Demospongiae,NaN,NaN,Dictyoceratida,NaN,Ircinidae,NaN,Psammocinia,NaN,sp 001 RSA MH NMMU
4,TIC2041-5,NaN,05/02/2041,RES2041,South Africa,Eastern Cape,Race,When risk,Thousand person,83.9633,...,Demospongiae,NaN,NaN,Poecilosclerida,Latrunculina,Latrunculiidae,NaN,Tsitsikamma,NaN,sp 004 RSA nguni
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33361,SAF43-11247,NaN,05/11/2043,RES2043,Seychelles,Bel Air,Include,Hot sound,Develop public,13.9136,...,Demospongiae,NaN,NaN,Poecilosclerida,Latrunculina,Latrunculiidae,NaN,Tsitsikamma,NaN,pedunculata
33362,SAF43-11248,NaN,17/04/2043,RES2043,Seychelles,Bel Air,Include,American trade,Do rule,72.7755,...,Demospongiae,NaN,NaN,Poecilosclerida,Latrunculina,Latrunculiidae,NaN,Tsitsikamma,NaN,pedunculata
33363,SAF43-11249,NaN,13/12/2043,RES2043,Seychelles,Bel Air,Include,Hot sound,Girl study,13.9299,...,Demospongiae,NaN,NaN,Poecilosclerida,Latrunculina,Latrunculiidae,NaN,Tsitsikamma,NaN,pedunculata
33364,SAF43-11250,NaN,03/06/2043,RES2043,Seychelles,Bel Air,Include,American trade,Shake son,73.4614,...,Demospongiae,NaN,NaN,Poecilosclerida,Latrunculina,Latrunculiidae,NaN,Tsitsikamma,NaN,pedunculata
33365,SAF43-11251,NaN,12/04/2043,RES2043,Seychelles,Bel Air,Include,Hot sound,Develop public,13.8967,...,Demospongiae,NaN,NaN,Poecilosclerida,Latrunculina,Latrunculiidae,NaN,Tsitsikamma,NaN,pedunculata

In [36]:
# Include site_id
collection = pd.merge(site_df[['site_id', 'latitude', 'longitude', 'depth_min', 'depth_max']], collection_df, on=['latitude', 'longitude', 'depth_min', 'depth_max'])
collection

,site_id,latitude,longitude,depth_min,depth_max,sourceID,otherIDs,collectedDate,permitNo,country,...,Class,Subclass,Superorder,Order,Suborder,Family,Subfamily,Genus,Subgenus,Species
0,1,-33.4402,3.3294,12,23,MOZ42-1,NaN,23/05/2042,RES2042,Mozambique,...,Ascidiacea,NaN,Enterogona,Aplousobranchia,NaN,Didemnidae,NaN,Polysyncraton,NaN,magnilarvum
1,1,-33.4402,3.3294,12,23,MOZ42-9,NaN,29/08/2042,RES2042,Mozambique,...,Demospongiae,NaN,NaN,Poecilosclerida,Latrunculina,Latrunculiidae,NaN,Tsitsikamma,NaN,pedunculata
2,1,-33.4402,3.3294,12,23,MOZ42-17,NaN,31/08/2042,RES2042,Mozambique,...,Demospongiae,NaN,NaN,Poecilosclerida,Latrunculina,Latrunculiidae,NaN,Tsitsikamma,NaN,pedunculata
3,1,-33.4402,3.3294,12,23,MOZ42-25,NaN,03/12/2042,RES2042,Mozambique,...,Ascidiacea,NaN,Pleurogona,Stolidobranchia,NaN,Styelidae,Styelinae,Polycarpa,NaN,SP. 003 RSA Litte Red Balls
4,1,-33.4402,3.3294,12,23,MOZ42-33,NaN,20/11/2042,RES2042,Mozambique,...,Ascidiacea,NaN,Enterogona,Aplousobranchia,NaN,Didemnidae,NaN,Didemnum,NaN,sp 009 RSA SPN Pinkcrust
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33361,24,72.7755,-129.3533,10,25,SAF43-11216,NaN,11/06/2043,RES2043,Seychelles,...,Ascidiacea,NaN,Enterogona,Aplousobranchia,NaN,Polycitoridae,NaN,Cystodytes,NaN,sp 002 RSA SPN Peach pads
33362,24,72.7755,-129.3533,10,25,SAF43-11224,NaN,13/07/2043,RES2043,Seychelles,...,Ascidiacea,NaN,Enterogona,Aplousobranchia,NaN,Pseudodistomidae,NaN,Pseudodistoma,NaN,sp 002 SPN RSA Custardbrain
33363,24,72.7755,-129.3533,10,25,SAF43-11232,NaN,19/09/2043,RES2043,Seychelles,...,Ascidiacea,NaN,Enterogona,Aplousobranchia,NaN,Didemnidae,NaN,Polysyncraton,NaN,magnilarvum
33364,24,72.7755,-129.3533,10,25,SAF43-11240,NaN,13/03/2043,RES2043,Seychelles,...,Demospongiae,NaN,NaN,Poecilosclerida,Latrunculina,Latrunculiidae,NaN,Tsitsikamma,NaN,pedunculata
33365,24,72.7755,-129.3533,10,25,SAF43-11248,NaN,17/04/2043,RES2043,Seychelles,...,Demospongiae,NaN,NaN,Poecilosclerida,Latrunculina,Latrunculiidae,NaN,Tsitsikamma,NaN,pedunculata

In [37]:
# Remove Country to depth_max info
collection.drop(['country', 'region', 'city', 'localArea', 'station', 'latitude', 'longitude', 'depth_min', 'depth_max'], axis=1, inplace=True)
collection.rename(columns={'sourceID':'sample_id', 'otherIDs':'other_ids', 'collectedDate':'date_collected', 'permitNo':'permit_no', 'collectedBy':'collected_by', 'identifiedBy':'identified_by',
    'otherDescription':'other_description'}, inplace=True)
collection

,site_id,sample_id,other_ids,date_collected,permit_no,collected_by,identified_by,classification,other_description,Kingdom,...,Class,Subclass,Superorder,Order,Suborder,Family,Subfamily,Genus,Subgenus,Species
0,1,MOZ42-1,NaN,23/05/2042,RES2042,Clive Morrison and Trevor Andrews,Harry Warner,Complete,NaN,Animalia,...,Ascidiacea,NaN,Enterogona,Aplousobranchia,NaN,Didemnidae,NaN,Polysyncraton,NaN,magnilarvum
1,1,MOZ42-9,NaN,29/08/2042,RES2042,Trevor Andrews and Clive Morrison,Clive Morrison,Questionable,NaN,Animalia,...,Demospongiae,NaN,NaN,Poecilosclerida,Latrunculina,Latrunculiidae,NaN,Tsitsikamma,NaN,pedunculata
2,1,MOZ42-17,NaN,31/08/2042,RES2042,Clive Morrison,Clive Morrison,Complete,NaN,Animalia,...,Demospongiae,NaN,NaN,Poecilosclerida,Latrunculina,Latrunculiidae,NaN,Tsitsikamma,NaN,pedunculata
3,1,MOZ42-25,NaN,03/12/2042,RES2042,Clive Morrison,Clive Morrison,Complete,NaN,Animalia,...,Ascidiacea,NaN,Pleurogona,Stolidobranchia,NaN,Styelidae,Styelinae,Polycarpa,NaN,SP. 003 RSA Litte Red Balls
4,1,MOZ42-33,NaN,20/11/2042,RES2042,Clive Morrison and Trevor Andrews,Harry Warner,Preliminary,NaN,Animalia,...,Ascidiacea,NaN,Enterogona,Aplousobranchia,NaN,Didemnidae,NaN,Didemnum,NaN,sp 009 RSA SPN Pinkcrust
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33361,24,SAF43-11216,NaN,11/06/2043,RES2043,Clive Morrison and Mandy Peterson,Harry Warner,Complete,NaN,Animalia,...,Ascidiacea,NaN,Enterogona,Aplousobranchia,NaN,Polycitoridae,NaN,Cystodytes,NaN,sp 002 RSA SPN Peach pads
33362,24,SAF43-11224,NaN,13/07/2043,RES2043,Mandy Peterson,Clive Morrison,Complete,NaN,Animalia,...,Ascidiacea,NaN,Enterogona,Aplousobranchia,NaN,Pseudodistomidae,NaN,Pseudodistoma,NaN,sp 002 SPN RSA Custardbrain
33363,24,SAF43-11232,NaN,19/09/2043,RES2043,Trevor Andrews and Clive Morrison,Clive Morrison,Complete,NaN,Animalia,...,Ascidiacea,NaN,Enterogona,Aplousobranchia,NaN,Didemnidae,NaN,Polysyncraton,NaN,magnilarvum
33364,24,SAF43-11240,NaN,13/03/2043,RES2043,Clive Morrison and Mandy Peterson,Clive Morrison,Preliminary,NaN,Animalia,...,Demospongiae,NaN,NaN,Poecilosclerida,Latrunculina,Latrunculiidae,NaN,Tsitsikamma,NaN,pedunculata
33365,24,SAF43-11248,NaN,17/04/2043,RES2043,Clive Morrison and Trevor Andrews,Harry Warner,Complete,NaN,Animalia,...,Demospongiae,NaN,NaN,Poecilosclerida,Latrunculina,Latrunculiidae,NaN,Tsitsikamma,NaN,pedunculata

### Taxonomy tables

In [38]:
tax_df = pd.read_excel("taxonomy.xlsx")
tax_df = tax_df.head(len(collection))
tax_df

,Kingdom,Phylum,Subphylum,Class,Subclass,Superorder,Order,Suborder,Family,Subfamily,Genus,Subgenus,Species
0,Animalia,Chordata,Urochordata -Tunicata,Ascidiacea,NaN,Enterogona,Aplousobranchia,NaN,Pseudodistomidae,NaN,Pseudodistoma,NaN,sp 015 RSA SPN roseum
1,Animalia,Porifera,NaN,Demospongiae,NaN,NaN,Poecilosclerida,Latrunculina,Latrunculiidae,NaN,Cyclacanthia,NaN,bellae
2,Animalia,Porifera,NaN,Demospongiae,NaN,NaN,Poecilosclerida,Latrunculina,Latrunculiidae,NaN,Tsitsikamma,NaN,sp 004 RSA nguni
3,Animalia,Porifera,NaN,Demospongiae,NaN,NaN,Dictyoceratida,NaN,Ircinidae,NaN,Psammocinia,NaN,sp 001 RSA MH NMMU
4,Animalia,Porifera,NaN,Demospongiae,NaN,NaN,Poecilosclerida,Latrunculina,Latrunculiidae,NaN,Tsitsikamma,NaN,sp 004 RSA nguni
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Animalia,Chordata,Urochordata -Tunicata,Ascidiacea,NaN,Enterogona,Aplousobranchia,NaN,Didemnidae,NaN,Didemnum,NaN,sp 022 RSA SPN Brown specked hen
66,Animalia,Chordata,Urochordata -Tunicata,Ascidiacea,NaN,Enterogona,Aplousobranchia,NaN,Didemnidae,NaN,Didemnum,NaN,sp 015 RSA SPN Brown yellow crust
67,Animalia,Porifera,NaN,Demospongiae,Heteroscleromorpha,NaN,Haplosclerida,Haplosclerina,Chalinidae,NaN,Haliclona,Haliclona,sp 004 RSA SPN blue
68,Animalia,Porifera,NaN,Demospongiae,Heteroscleromorpha,NaN,Haplosclerida,Haplosclerina,Chalinidae,NaN,Haliclona,Haliclona,sp 007 RSA SPN purple flat enc
69,Animalia,Chordata,Urochordata -Tunicata,Ascidiacea,NaN,Enterogona,Aplousobranchia,NaN,Didemnidae,NaN,Didemnum,NaN,sp 009 RSA SPN Pinkcrust

In [39]:
# Create taxonhierarchy
rank_list = list(tax_df.columns.values)
taxonhierarcy = pd.DataFrame(rank_list, columns=["rank_name"])
taxonhierarcy.insert(0, "rank_id", range(1, len(taxonhierarcy) + 1))
taxonhierarcy.insert(2, "parent_id", (taxonhierarcy["rank_id"]-1))
taxonhierarcy.loc[taxonhierarcy['parent_id'] == -1, 'parent_id'] = "NaN"
taxonhierarcy

    rank_id   rank_name parent_id
0         1     Kingdom         0
1         2      Phylum         1
2         3   Subphylum         2
3         4       Class         3
4         5    Subclass         4
5         6  Superorder         5
6         7       Order         6
7         8    Suborder         7
8         9      Family         8
9        10   Subfamily         9
10       11       Genus        10
11       12    Subgenus        11
12       13     Species        12

In [40]:
tax_list = tax_df.values.flatten().tolist()
tax_id_list = []
parent_tax_id_list = []
rank_id_list = []
taxon_name = []
parent_pos = 0
pos = 0
for taxStr in tax_list:
    if str(taxStr) != 'nan':
        if taxStr not in taxon_name:
            taxon_name.append(taxStr)
            parent_tax_id_list.append(parent_pos)
            tax_id_list.append(len(taxon_name))
            rank_id_list.append(pos+1)
            if pos == 12:
                parent_pos = 0
            else:
                parent_pos = len(taxon_name)
        else:
            parent_pos = taxon_name.index(taxStr) + 1
        pos = (pos + 1) % 13
    else:
        pos = (pos + 1) % 13

print(parent_tax_id_list)
print(rank_id_list)
print(taxon_name)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 1, 10, 11, 12, 13, 14, 15, 14, 17, 11, 19, 20, 21, 12, 23, 24, 25, 11, 27, 28, 29, 27, 31, 32, 17, 6, 35, 36, 8, 6, 39, 40, 11, 42, 43, 44, 45, 45, 11, 48, 49, 8, 8, 39, 53, 17, 36, 39, 57, 8, 6, 60, 61, 17, 17, 12, 65, 66, 67, 68, 69, 25, 49, 68, 73, 27, 75, 76, 28, 4, 79, 80, 81, 82, 83, 11, 17, 85, 87, 88, 89, 90, 53, 53, 53, 53, 45]
[1, 2, 3, 4, 6, 7, 9, 11, 13, 2, 4, 7, 8, 9, 11, 13, 11, 13, 7, 9, 11, 13, 8, 9, 11, 13, 7, 9, 11, 13, 9, 11, 13, 13, 9, 11, 13, 13, 9, 11, 13, 7, 8, 9, 11, 13, 13, 7, 9, 11, 13, 13, 11, 13, 13, 13, 11, 13, 13, 9, 11, 13, 13, 13, 8, 9, 10, 11, 12, 13, 13, 11, 12, 13, 9, 11, 13, 11, 6, 7, 9, 10, 11, 13, 5, 13, 7, 9, 10, 11, 13, 13, 13, 13, 13, 13]
['Animalia', 'Chordata', 'Urochordata -Tunicata', 'Ascidiacea', 'Enterogona', 'Aplousobranchia', 'Pseudodistomidae', 'Pseudodistoma', 'sp 015 RSA SPN roseum', 'Porifera', 'Demospongiae', 'Poecilosclerida', 'Latrunculina', 'Latrunculiidae', 'Cyclacanthia', 'bellae', 'Tsitsikamma', 'sp 004 RSA nguni', 'Dictyoceratida', 'Ircinidae', 'Psammocinia', 'sp 001 RSA MH NMMU', 'Myxillina', 'Hymedesmiidae', 'Phorbas', 'sp 001 RSA MKB CRRF', 'Hadromerida', 'Clionaidae', 'NG Clionaidae 001 RSA MKB CRRF', 'sp 002 RSA SPN CRRF', 'Hemiasterellidae', 'Hemiasterella', 'sp001 thick purple fan', 'sp 001 RSA toufieki', 'Polycitoridae', 'Cystodytes', 'sp 002 RSA SPN Peach pads', 'sp 005 SPN RSA Redwhitetongue', 'Didemnidae', 'Atriolum', 'sp 003 RSA SPN Spitspeaks', 'Haplosclerida', 'Haplosclerina', 'Chalinidae', 'Haliclona', 'sp 001 RSA MKB CRRF purple', 'sp 004 RSA SPN blue', 'Halichondrida', 'Halichondriidae', 'Hymeniacidon', 'sp 002 SPN RSA Custardbrain', 'sp 003 SPN RSA Gigglegrey', 'Didemnum', 'sp 006 RSA SPN Brightorangecrust', 'sp 005 RSA', 'dellachiajei', 'Polysyncraton', 'magnilarvum', 'sp 008 SPN RSA Peachtip', 'Polyclinidae', 'Aplidiopsis', 'sp 001 RSA SPN Firm dark large', 'sp 002 RSA michaeli', 'pedunculata', 'Microcionina', 'Microcionidae', 'Microcioninae', 'Clathria', 'Thalysias', 'oxitoxa', 'clathratus', 'Ciocalypta', 'Axosuberites', 'sp 001 RSA MKB CRRF mesh', 'Tethyidae', 'Tethya', 'magna', 'NG Clionaidae 002 RSA MKB CRRF', 'Pleurogona', 'Stolidobranchia', 'Styelidae', 'Styelinae', 'Polycarpa', 'SP. 003 RSA Litte Red Balls', 'Heteroscleromorpha', 'favus', 'Axinellida', 'Raspailiidae', 'Raspailiinae', 'Eurypon', 'sp 002 RSA SPN', 'sp 022 RSA SPN Brown specked hen', 'sp 009 RSA SPN Pinkcrust', 'sp 014 RSA SPN Blackbrownmottled', 'sp 015 RSA SPN Brown yellow crust', 'sp 007 RSA SPN purple flat enc']

In [41]:
taxonomy = pd.DataFrame({'taxonomy_id':tax_id_list, 'parent_taxon_id':parent_tax_id_list, 'rank_id':rank_id_list, 'taxon_name':taxon_name})
taxonomy

    taxonomy_id  parent_taxon_id  rank_id                         taxon_name
0             1                0        1                           Animalia
1             2                1        2                           Chordata
2             3                2        3              Urochordata -Tunicata
3             4                3        4                         Ascidiacea
4             5                4        6                         Enterogona
..          ...              ...      ...                                ...
91           92               53       13   sp 022 RSA SPN Brown specked hen
92           93               53       13           sp 009 RSA SPN Pinkcrust
93           94               53       13   sp 014 RSA SPN Blackbrownmottled
94           95               53       13  sp 015 RSA SPN Brown yellow crust
95           96               45       13     sp 007 RSA SPN purple flat enc

[96 rows x 4 columns]

In [42]:
# Get all species and associated taxonomy_id
species_df = taxonomy.loc[taxonomy['rank_id'] == 13]
species_df.rename(columns={'taxon_name':'Species'}, inplace=True)
species_df

C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\3041161045.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  species_df.rename(columns={'taxon_name':'Species'}, inplace=True)

    taxonomy_id  parent_taxon_id  rank_id                            Species
8             9                8       13              sp 015 RSA SPN roseum
15           16               15       13                             bellae
17           18               17       13                   sp 004 RSA nguni
21           22               21       13                 sp 001 RSA MH NMMU
25           26               25       13                sp 001 RSA MKB CRRF
29           30               29       13                sp 002 RSA SPN CRRF
32           33               32       13             sp001 thick purple fan
33           34               17       13                sp 001 RSA toufieki
36           37               36       13          sp 002 RSA SPN Peach pads
37           38                8       13      sp 005 SPN RSA Redwhitetongue
40           41               40       13          sp 003 RSA SPN Spitspeaks
45           46               45       13         sp 001 RSA MKB CRRF purple
46           47               45       13                sp 004 RSA SPN blue
50           51                8       13        sp 002 SPN RSA Custardbrain
51           52                8       13          sp 003 SPN RSA Gigglegrey
53           54               53       13   sp 006 RSA SPN Brightorangecrust
54           55               17       13                         sp 005 RSA
55           56               36       13                       dellachiajei
57           58               57       13                        magnilarvum
58           59                8       13            sp 008 SPN RSA Peachtip
61           62               61       13     sp 001 RSA SPN Firm dark large
62           63               17       13                sp 002 RSA michaeli
63           64               17       13                        pedunculata
69           70               69       13                            oxitoxa
70           71               25       13                         clathratus
73           74               73       13           sp 001 RSA MKB CRRF mesh
76           77               76       13                              magna
83           84               83       13        SP. 003 RSA Litte Red Balls
85           86               17       13                              favus
90           91               90       13                     sp 002 RSA SPN
91           92               53       13   sp 022 RSA SPN Brown specked hen
92           93               53       13           sp 009 RSA SPN Pinkcrust
93           94               53       13   sp 014 RSA SPN Blackbrownmottled
94           95               53       13  sp 015 RSA SPN Brown yellow crust
95           96               45       13     sp 007 RSA SPN purple flat enc

In [43]:
collection = pd.merge(species_df[['taxonomy_id', 'Species']], collection, on=['Species'])
collection

,taxonomy_id,Species,site_id,sample_id,other_ids,date_collected,permit_no,collected_by,identified_by,classification,...,Subphylum,Class,Subclass,Superorder,Order,Suborder,Family,Subfamily,Genus,Subgenus
0,9,sp 015 RSA SPN roseum,1,MOZ42-185,NaN,10/02/2042,RES2042,Clive Morrison and Trevor Andrews,Clive Morrison,Preliminary,...,Urochordata -Tunicata,Ascidiacea,NaN,Enterogona,Aplousobranchia,NaN,Pseudodistomidae,NaN,Pseudodistoma,NaN
1,9,sp 015 RSA SPN roseum,1,MOZ42-465,NaN,03/07/2042,RES2042,Clive Morrison and Trevor Andrews,Harry Warner,Questionable,...,Urochordata -Tunicata,Ascidiacea,NaN,Enterogona,Aplousobranchia,NaN,Pseudodistomidae,NaN,Pseudodistoma,NaN
2,9,sp 015 RSA SPN roseum,1,MOZ42-745,NaN,16/07/2042,RES2042,Mandy Peterson and Clive Morrison,Harry Warner,Preliminary,...,Urochordata -Tunicata,Ascidiacea,NaN,Enterogona,Aplousobranchia,NaN,Pseudodistomidae,NaN,Pseudodistoma,NaN
3,9,sp 015 RSA SPN roseum,1,MOZ42-1025,NaN,26/05/2042,RES2042,Clive Morrison and Mandy Peterson,Clive Morrison,Questionable,...,Urochordata -Tunicata,Ascidiacea,NaN,Enterogona,Aplousobranchia,NaN,Pseudodistomidae,NaN,Pseudodistoma,NaN
4,9,sp 015 RSA SPN roseum,1,MOZ42-1305,NaN,03/12/2042,RES2042,Clive Morrison and Trevor Andrews,Harry Warner,Tentative,...,Urochordata -Tunicata,Ascidiacea,NaN,Enterogona,Aplousobranchia,NaN,Pseudodistomidae,NaN,Pseudodistoma,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32885,96,sp 007 RSA SPN purple flat enc,24,SAF43-9944,NaN,06/04/2043,RES2043,Clive Morrison and Trevor Andrews,Harry Warner,Preliminary,...,NaN,Demospongiae,Heteroscleromorpha,NaN,Haplosclerida,Haplosclerina,Chalinidae,NaN,Haliclona,Haliclona
32886,96,sp 007 RSA SPN purple flat enc,24,SAF43-10224,NaN,27/07/2043,RES2043,Clive Morrison and Trevor Andrews,Harry Warner,Questionable,...,NaN,Demospongiae,Heteroscleromorpha,NaN,Haplosclerida,Haplosclerina,Chalinidae,NaN,Haliclona,Haliclona
32887,96,sp 007 RSA SPN purple flat enc,24,SAF43-10504,NaN,13/11/2043,RES2043,Mandy Peterson,Harry Warner,Preliminary,...,NaN,Demospongiae,Heteroscleromorpha,NaN,Haplosclerida,Haplosclerina,Chalinidae,NaN,Haliclona,Haliclona
32888,96,sp 007 RSA SPN purple flat enc,24,SAF43-10784,NaN,08/11/2043,RES2043,Trevor Andrews; Mandy Peterson,Harry Warner,Complete,...,NaN,Demospongiae,Heteroscleromorpha,NaN,Haplosclerida,Haplosclerina,Chalinidae,NaN,Haliclona,Haliclona
32889,96,sp 007 RSA SPN purple flat enc,24,SAF43-11064,NaN,22/11/2043,RES2043,Clive Morrison,Clive Morrison,Complete,...,NaN,Demospongiae,Heteroscleromorpha,NaN,Haplosclerida,Haplosclerina,Chalinidae,NaN,Haliclona,Haliclona

In [44]:
# Remove species information other than taxonomy_id
collection.drop(['Kingdom', 'Phylum', 'Subphylum', 'Class', 'Subclass', 'Superorder', 'Order', 'Suborder', 'Family', 'Subfamily', 'Genus', 'Subgenus', 'Species'], axis=1, inplace=True)
collection

,taxonomy_id,site_id,sample_id,other_ids,date_collected,permit_no,collected_by,identified_by,classification,other_description
0,9,1,MOZ42-185,NaN,10/02/2042,RES2042,Clive Morrison and Trevor Andrews,Clive Morrison,Preliminary,NaN
1,9,1,MOZ42-465,NaN,03/07/2042,RES2042,Clive Morrison and Trevor Andrews,Harry Warner,Questionable,NaN
2,9,1,MOZ42-745,NaN,16/07/2042,RES2042,Mandy Peterson and Clive Morrison,Harry Warner,Preliminary,NaN
3,9,1,MOZ42-1025,NaN,26/05/2042,RES2042,Clive Morrison and Mandy Peterson,Clive Morrison,Questionable,NaN
4,9,1,MOZ42-1305,NaN,03/12/2042,RES2042,Clive Morrison and Trevor Andrews,Harry Warner,Tentative,NaN
...,...,...,...,...,...,...,...,...,...,...
32885,96,24,SAF43-9944,NaN,06/04/2043,RES2043,Clive Morrison and Trevor Andrews,Harry Warner,Preliminary,NaN
32886,96,24,SAF43-10224,NaN,27/07/2043,RES2043,Clive Morrison and Trevor Andrews,Harry Warner,Questionable,NaN
32887,96,24,SAF43-10504,NaN,13/11/2043,RES2043,Mandy Peterson,Harry Warner,Preliminary,NaN
32888,96,24,SAF43-10784,NaN,08/11/2043,RES2043,Trevor Andrews; Mandy Peterson,Harry Warner,Complete,NaN
32889,96,24,SAF43-11064,NaN,22/11/2043,RES2043,Clive Morrison,Clive Morrison,Complete,NaN

### Person collection table

In [45]:
people_collector_df = collection[['sample_id', 'collected_by']]
person_collection = pd.DataFrame()
for collector in finalCollectors:
    people = people_collector_df[people_collector_df.collected_by.str.contains(collector, regex=False)]
    people.insert(2, 'person', collector)
    person_collection = person_collection.append(people)

person_collection.insert(3, 'person_id', 1)
personIDs = person_df['person_id'].tolist()
names = person_df['full_name'].tolist()

for pID, p in zip(personIDs, names):
    person_collection.loc[person_collection.person == p, 'person_id'] = pID
person_collection.drop(['collected_by', 'person'], axis=1, inplace=True)
person_collection.rename(columns={'person_id':'user_id'}, inplace=True)
person_collection

C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\897392064.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  person_collection = person_collection.append(people)
C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\897392064.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  person_collection = person_collection.append(people)
C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\897392064.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  person_collection = person_collection.append(people)

         sample_id  user_id
0        MOZ42-185        9
1        MOZ42-465        9
4       MOZ42-1305        9
5       MOZ42-1585        9
6       MOZ42-1865        9
...            ...      ...
32878   SAF43-7984       10
32880   SAF43-8544       10
32884   SAF43-9664       10
32887  SAF43-10504       10
32888  SAF43-10784       10

[54705 rows x 2 columns]

In [46]:
# Remove collected by from collection table
collection.drop(['collected_by'], axis=1, inplace=True)
collection.insert(7, 'identifier_id', 1)
personIDs = person_df['person_id'].tolist()
names = person_df['full_name'].tolist()

for pID, p in zip(personIDs, names):
    collection.loc[collection.identified_by == p, 'identifier_id'] = pID
collection.drop(['identified_by'], axis=1, inplace=True)

collection['date_collected'] = pd.to_datetime(collection['date_collected'])
collection

C:\Users\Emily\AppData\Local\Temp\ipykernel_26984\1220082095.py:11: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  collection['date_collected'] = pd.to_datetime(collection['date_collected'])

,taxonomy_id,site_id,sample_id,other_ids,date_collected,permit_no,identifier_id,classification,other_description
0,9,1,MOZ42-185,NaN,2042-10-02,RES2042,7,Preliminary,NaN
1,9,1,MOZ42-465,NaN,2042-03-07,RES2042,8,Questionable,NaN
2,9,1,MOZ42-745,NaN,2042-07-16,RES2042,8,Preliminary,NaN
3,9,1,MOZ42-1025,NaN,2042-05-26,RES2042,7,Questionable,NaN
4,9,1,MOZ42-1305,NaN,2042-03-12,RES2042,8,Tentative,NaN
...,...,...,...,...,...,...,...,...,...
32885,96,24,SAF43-9944,NaN,2043-06-04,RES2043,8,Preliminary,NaN
32886,96,24,SAF43-10224,NaN,2043-07-27,RES2043,8,Questionable,NaN
32887,96,24,SAF43-10504,NaN,2043-11-13,RES2043,8,Preliminary,NaN
32888,96,24,SAF43-10784,NaN,2043-08-11,RES2043,8,Complete,NaN
32889,96,24,SAF43-11064,NaN,2043-11-22,RES2043,7,Complete,NaN

### Strain Table

In [53]:
strain_df = pd.read_excel("strain.xlsx")
strainSpecies = species_df.reset_index(drop=True)
strainSpecies
strainSpecies = pd.concat([strainSpecies] * 320).reset_index(drop=True)
strainSpecies.drop(strainSpecies.index[11175:], inplace=True)
strainSpecies

strain_df = pd.concat([strain_df, strainSpecies], axis=1)
strain_df.rename(columns={'supplierID':'strain_id', 'cultivationMedia':'cultivation_media'}, inplace=True)
strain_df.drop(['parent_taxon_id', 'rank_id', 'Species'], axis=1, inplace=True)
strain_df

       strain_id cultivation_media  taxonomy_id
0          AAP_1               PDM            9
1          AAP_2               PDM           16
2          AAP_3               PDM           18
3          AAP_4               WYM           22
4          AAP_5               PDM           26
...          ...               ...          ...
11170  AAP_11171               MEM           30
11171  AAP_11172               WYM           33
11172  AAP_11173               MEM           34
11173  AAP_11174               WYM           37
11174  AAP_11175               WYM           38

[11175 rows x 3 columns]

In [76]:
# Send role table to mysql
hostname = "localhost"
dbname = "addhubproject100000"
uname = "root"
pwd = ""

engine = create_engine("mysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=dbname, user=uname, pw=pwd))

# nmr.to_sql('nmr', engine, index=False)

# role_df.to_sql('role', engine, index=False)

# Export extract dataframe to extracts table

# Do roles table migration
# role_df.to_sql('roles', engine, if_exists='append', index=False)
# Add users, then do role_users migration
# person_role_df.to_sql('role_users', engine, if_exists='append', index=False)
# group_df.to_sql('groups', engine, if_exists='append', index=False)
# extract.to_sql('extracts', engine, if_exists='append', index=False)
# fraction.drop(['level'], axis=1, inplace=True)
# fraction.to_sql('fractions', engine, if_exists='append', index=False)
# derivedpurecomp.drop(['fraction_method'], axis=1, inplace=True)
# derivedpurecomp.to_sql('derivedpurecomps', engine, if_exists='append', index=False)
# process.drop(['destination_of_sample'], axis=1, inplace=True)
# process.to_sql('processes', engine, if_exists='append', index=False)
# newms.to_sql('massspecs', engine, if_exists='append', index=False)
# newnmr.to_sql('nmrs', engine, if_exists='append', index=False)
# bioassay_df.to_sql('bioassays', engine, if_exists='append', index=False)
# countries_df.to_sql('countries', engine, if_exists='append', index=False)
# regions_df.to_sql('regions', engine, if_exists='append', index=False)
# city_df.to_sql('cities', engine, if_exists='append', index=False)
# localarea_df.to_sql('localareas', engine, if_exists='append', index=False)
# station_df.to_sql('stations', engine, if_exists='append', index=False)
# site_df.to_sql('sites', engine, if_exists='append', index=False)
# taxonhierarcy.to_sql('taxonhierarchies', engine, if_exists='append', index=False)
# taxonomy.to_sql('taxonomies', engine, if_exists='append', index=False)
# collection.to_sql('collections', engine, if_exists='append', index=False)
# person_collection.to_sql('collection_users', engine, if_exists='append', index=False)
# strain_df.to_sql('strains', engine, if_exists='append', index=False)
# lcms_records.to_sql('hplcrequests', engine, if_exists='append', index=False)

126944